.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.goBack{
    position: absolute;
    left: 10rem;
    top: 5rem;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.back:hover{
    color: white;
}